<div class="row">
  <div class="col-md-4" *ngFor="let post of posts">
    <div class="card mb-4 shadow-sm">
      <img class="card-img-top" src="{{post.urlToImage}}" alt="">
      <div class="card-body">
        <h5 class="card-title">{{post.title}}</h5>
        <h6 class="card-subtitle mb-2 text-muted">{{post.author}}</h6>
        <br>
        <p class="card-text">{{post.description}}</p>
        <div class="d-flex justify-content-between align-items-center">
          <div class="btn-group">
            <button type="button" class="btn btn-outline-warning">Edit</button>
            <button type="button" class="btn btn-outline-danger">Delete</button>
          </div>
          <small class="text-muted">{{post.publishedAt | date}}</small>
        </div>
      </div>
    </div>
  </div>
</div>

<!--*ngIf="posts && posts.length > 0; else noPosts"-->
<!--<ng-template #noPosts>-->
<!--  <p>There is no post yet</p>-->
<!--</ng-template>-->
